/* .login{
    min-height: 100vh;
    background-color: rgb(245, 243, 239);
} */

.login__container{
    width: 30%;
    height: fit-content;
    margin: 9% auto;
    padding: 2%;
    background-color: white;
    box-shadow: 0 0 5px 2px rgb(207, 193, 193);
}

@media only screen and (max-width: 1050px) and (min-width:900px) {
  .login__container{
    width: 40%;
  }
}

@media only screen and (max-width: 899px) and (min-width:700px) {
  .login__container{
    width: 50%;
  }
}

@media only screen and (max-width: 699px) and (min-width:500px) {
  .login__container{
    width: 60%;
  }
}

@media only screen and (max-width: 499px) and (min-width:400px) {
  .login__container{
    width: 80%;
  }
}

@media only screen and (max-width: 399px) and (min-width:200px) {
  .login__container{
    width: 90%;
  }
}

.form__alingment .form-group{
    margin: 7% 5%;
}


.login__signInButton {
    background: #f0c14b;
    border-radius: 2px;
    width: 60%;
    height: 30px;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
  }

  .login__RegisterButton{
    background: #f0c14b;
    border-radius: 2px;
    width: 60%;
    height: 30px;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
  }

  .custom-button{
    background: #f0c14b;
    border-radius: 2px;
    width: 60%;
    height: 30px;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
  }
  
